.filter-container{
  width:80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.footer-container{
  width:80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.table-container {
  width: 80%;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}
  
table {
  width: 1360px;
}

.mat-form-field {
    font-size: 14px;
    width: 25%;
    margin-right: 10px;
}

td, th {
    /* width: 25%; */
}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
    background-color: #ffe600;
}

  
td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

  /* custom width */
.mat-column-username {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 10% !important;
  width: 10% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}  

.mat-column-action {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 15% !important;
  width: 15% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}

.mat-column-basicSalary {
  text-align: right;
  padding-right: 10px;
}

.margin-right-10{
  margin-right: 10px;
}